#titulo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    letter-spacing: 20px;
}

#corpodotexto {
    text-align: center;
    color: #daa520;
    font-size: 40px;
    text-indent: 30px;
    font-family: 'Didot';
}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    }
    
    .menu{
        list-style: none;
        border:1px solid #daa520;
        float:left;
        }
    
    .menu li{
    position:relative;
    float:left;
    border-right:1px solid #daa520;
    }
    
    .menu li a{color:#ffffff; text-decoration:none; padding:5px 10px; display:block;}
    
    .menu li a:hover{
    background:#daa520;
    color:black;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px white;
    }

    .menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#000000;
    display:none;
    }
    
    .menu li:hover ul, .menu li.over ul{display:block;}

    .menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }
    
#imagem_fundo {
    background-image: url(benzema.jpg);
    height: 100%;
    text-align: center;
    background-size: cover;
    padding: 0% 0% 1% 0%;
    margin: 0%;
    border: 0%;
}

body{
    margin: 0;
    background-color: #000000;
}
.coluna {
    float: left;
    padding: 2% 5%;
    position: relative;
    color: #daa520;
    font-family: 'Didot';
}
.dois{
    width: 40%;
    height: 70%;
}

.cor{
    color: white;
    font-family: 'Didot';
}
header{
    
    color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
